Pillow
python-dotenv
PyMuPDF
camelot-py[cv]
pdf2image
pytesseract
spacy
google-generativeai
ghostscript
PyPDF2==2.12.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
